**.ipynb_checkpoints
**cache*
**.pdf
**figs*
**.zip
**.png
**.npy
**.pkl
**.jpg
**.tif
**slurm*
**logs*
env
**.pyc
**.gif
checkpoint*
models
*.csv
old*
.idea
**Icon*
finetune.py
gpt-2-simple
gptneo/**json*
gptneo/title*
gptneo/*checkpoint*
**.DS_Store
_site
