@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-regular.woff2') format('woff2'),
        url('./fonts/LM-regular.woff') format('woff'),
        url('./fonts/LM-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/LM-italic.woff2') format('woff2'),
        url('./fonts/LM-italic.woff') format('woff'),
        url('./fonts/LM-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold.woff2') format('woff2'),
        url('./fonts/LM-bold.woff') format('woff'),
        url('./fonts/LM-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/LM-bold-italic.woff2') format('woff2'),
        url('./fonts/LM-bold-italic.woff') format('woff'),
        url('./fonts/LM-bold-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/Libertinus-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url('./fonts/Libertinus-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/Libertinus-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url('./fonts/Libertinus-bold-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Libertinus-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'Libertinus';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/Libertinus-semibold-italic.woff2') format('woff2');
}

body {
    font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}